<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="UIComponent_CustomModule::data" title="Sample Data" module="UIComponent_CustomModule" sortOrder="75" resource="UIComponent_CustomModule::data"
             action="sample/data/index"/>
    </menu>
</config>
