<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="CustomModule\CustomSearch\Api\CategoryLinkManagementInterface" type="CustomModule\CustomSearch\Model\CategoryLinkManagement" />
    <preference for="CustomModule\CustomSearch\Api\Data\CategoryProductLinkInterface" type="CustomModule\CustomSearch\Model\CategoryProductLink" />
</config>

